.input-name-artist {
    width: 85%;
    height: 40px;
    padding-left: 10px;
    background: #222222;
    border: none;
    border-radius: 5px;

}

.artist-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    gap: 15px;
    overflow-y: scroll;
    padding: 15px 0px;
    .artist-card {
        background: #222222;
        position: relative;
        width: 85%;
        min-height: 65px;
        max-height: 65px;
        border-radius: 5px;
        cursor: pointer;
        display: flex;
        
        .img-artist {
            width: 100%;
            object-fit: cover;
            /* Evita la distorsión y ajusta la imagen completamente */
            filter: blur(0.7px) brightness(40%);
            border-radius: 5px;
        }

        .name-artist {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 21px;
            font-weight: 700;
            width: 100%;
            text-align: center;
            text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
        }
    }

    .artist-card:hover {
        .img-artist {
            filter: blur(0.5px) brightness(70%);
        }

        .name-artist {
            text-shadow: 3px 3px 3px rgb(0, 0, 0);
        }
    }
}

.artist-container::-webkit-scrollbar {
    width: 0px;
}

.artist-container::-webkit-scrollbar-track {
    width: 0px;
}

.artist-container::-webkit-scrollbar-thumb {
    background-color: transparent;
}

@media (max-width: 1400px) {
    .artist-container {
        .artist-card {
            min-height: 50px;
            /* Ajusta la altura según tus necesidades */
            .name-artist {
                font-size: 17px;
            }
        }
    }
}