input {
    border-radius: 5px;
    border: none;
    padding: 15px;
    color: #1B1B1B;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1B1B1B;

    .login-box {
        width: 450px;
        height: 500px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        background: #222222;
        border-radius: 10px;
        padding: 0px 0px 15px 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .logo-box {
            padding: 0px 0px 30px 0px;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;

            .logo-app {
                width: 100px;

            }

            .name-app {
                font-size: 2rem;
            }
        }

        .login-form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 10px;
            width: 100%;

            .box-names {
                width: 70%;
                display: flex;
                align-items: center;
                justify-content: space-between;

                .input-firstName {
                    width: calc(50% - 5px);
                    height: 40px;

                }

                .input-lastName {
                    width: calc(50% - 5px);
                    height: 40px;
                    border-radius: 5px;
                }
            }

            .input-email {
                width: 70%;
                height: 40px;



            }

            .forget-pasword {
                padding: 5px 0px 10px 0px;
            }

            .b-singIn {
                width: 60%;
                height: 40px;
                background: #00C2FF;
                border-radius: 3px;
                border: none;
                cursor: pointer;
                color: #1B1B1B;
                font-weight: 700;
                font-size: 1.2rem;
            }
        }

        .b-return-login{
            padding: 10px;
            cursor: pointer;
        }
        .b-return-login:hover{
            color: #00C2FF;
        }
        .redirect-register {
            padding: 10px;
            display: flex;
            gap: 5px;
            
            .b-register {
                color: #00C2FF;
                cursor: pointer;
            }
        }
    }
}