.reproductor {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
}
.reproductor-controls{
  display: flex;
  align-items: center;
}

.information-song{
  display: flex;
  align-items: center;
}
.reproductor-imagen {
  border-radius: 5px;
  width: 50px;
  height: 50px;
}
.box-name-artist{
  padding: 0px 10px;
  width: 200px;

  .reproductor-nombre {
    font-size: 16px;
    width: 100%;
    font-weight: 700;
  }
  .reproductor-cantante{
    font-size: 12px;
    width: 100%;
    color: #8A8A8A;
  }
}


.reproductor-tiempo {
  margin-left: 10px;
}

.reproductor-barra {
  cursor: pointer;
  width: 626px;
  height: 5px;
  background: #8A8A8A;
  margin-left: 10px;
  margin-right: 10px;
}

.reproductor-progreso {
  height: 100%;
  background: #00C2FF;
}

.reproductor-duracion {
  margin-left: 10px;
}

.reproductor-boton {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  background: none;
  border: none;
  cursor: pointer;
  .pause-icon{
    font-size: 35px;
  }
  .play-icon{
    font-size: 35px;
  }
}

.reproductor-volumen {
  margin-left: 10px;
  
}

.volume-box{
  display: flex;
  align-items: center;
}
