p {
    margin: 0;
}

.songs-container {
    width: 100%;
    height: 100%;
    padding: 50px;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
    .input-song-name{
        width: 300px;
        height: 40px;
        padding-left: 10px;
        background: #1b1b1b;
        border: none;
        border-radius: 5px;
    }
}

.songs-container::-webkit-scrollbar {
    width: 0px;
}

.songs-container::-webkit-scrollbar-track {
    width: 0px;
}

.songs-container::-webkit-scrollbar-thumb {
    background-color: transparent;
    /* Ajusta el color del thumb si lo deseas */
    border-radius: 3px;
}

.song-box {
    margin-bottom: 40px;
}

.genre-name {
    color: #00C2FF;
}

.genre-box {
    width: 100%;

}

.img-song {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
    cursor: pointer;
}

.img-box {
    position: relative;

    .icon-play {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(50%, 50%);
    }
}

.description-song {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .song-info {
        padding: 5px 0px;

        .song-name {
            font-size: 16px;
            font-weight: 700;
        }

        .artist-name {
            font-size: 13px;
            font-weight: 400;
            color: #8A8A8A;
        }

    }
}



.section-song {
    width: 100%;
    display: flex;
    gap: 20px;
    margin-bottom: 10px;
    overflow-x: scroll;
    scrollbar-width: thin;
    scrollbar-color: #1b1b1b transparent;
    overflow-y: hidden;

}

.section-song::-webkit-scrollbar {
    height: 10px;
    /* Altura del scrollbar */
    width: 10px;
    /* Ancho del scrollbar (es importante establecer un valor para asegurarse de que el scrollbar es visible) */

}

.section-song::-webkit-scrollbar-track {
    background-color: transparent;
}

.section-song::-webkit-scrollbar-thumb {
    background-color: #1b1b1b;
    border-radius: 5px;
    cursor: pointer;
}


.card-song {

    background: #1b1b1b;
    padding: 10px 10px 15px 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;

    .img-song-box {
        position: relative;
        width: 200px;
        height: 200px;
    }

    .play-song-icon {
        display: none;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 80px;
        -webkit-tap-highlight-color: transparent;
        -webkit-touch-callout: none;
        /* iOS Safari */
        -webkit-user-select: none;
        /* Safari */
        -khtml-user-select: none;
        /* Konqueror HTML */
        -moz-user-select: none;
        /* Firefox */
        -ms-user-select: none;
        /* Internet Explorer/Edge */
        user-select: none;
    }

    .play-song-icon:active{
        background-color: transparent;
        outline: none;
        box-shadow: none;
    }


}

.card-song:hover {
    background-color: #2e2e2e;

    .img-song-box {
        .img-song {
            filter: blur(0.9px) brightness(40%);
        }
    }

    .play-song-icon {
        display: block;
        cursor: pointer;
        transition: transform 0.3s ease, color 0.3s ease;
        transform-origin: center;
        /* Establece el punto de origen al centro */
    }

    .play-song-icon:hover {
        position: absolute;
        top: 50%;
        left: 50%;

        color: #00C2FF;
        transform: translate(-50%, -50%) scale(1.1);
    }
}


@media (max-width: 1400px) {
    .section-song {
        margin-bottom: 10px;
    }

    .card-song {
        margin: 0;
        margin-bottom: 10px;
        .img-song {
            width: 160px;
            height: 160px;
        }

        .img-song-box {
            width: 160px;
            height: 160px;
        }
    }

    .description-song {
        .song-info {
            .song-name {
                font-size: 13px;
            }

            .artist-name {
                font-size: 10px;
            }

        }

    }

    .genre-name {
        font-size: 17px;
    }

}

@media (max-width: 769px) {
    .songs-container {
        padding: 0px 0px 0px 0px;
    }
    
    .song-box{
        background-color: rgb(29, 29, 29);
        padding: 0px 10px;
        margin: 0px;
    }
    .card-song {
        padding: 0px;
        background: none;

        .img-song {
            width: 110px;
            height: 110px;
        }

        .img-song-box {
            width: 110px;
            height: 110px;
        }
    }

    .card-song:active{
        background-color: none;
        outline: none;
        box-shadow: none;
    }
    .card-song:focus{
        background-color: none;
        outline: none;
        box-shadow: none;
    }

    .description-song {
        .song-info {
            .song-name {
                font-size: 12px;
            }

            .artist-name {
                font-size: 8px;
            }

        }

    }

    .genre-name {
        font-size: 13px;
        padding-top: 10px;
    }

    .card-song:hover {
        background: none;
        cursor: none;

        .img-song-box {
            .img-song {
                filter: blur(0.9px) brightness(40%);
            }
        }

        .play-song-icon {
            display: block;
            cursor: pointer;
            font-size: 50px;
            transition: transform 0.3s ease, color 0.3s ease;
            transform-origin: center;
            /* Establece el punto de origen al centro */
        }

        .play-song-icon:hover {
            position: absolute;
            top: 50%;
            left: 50%;

            color: #00C2FF;
            transform: translate(-50%, -50%) scale(1.1);
        }
    }

    .section-song::-webkit-scrollbar-track {
        background-color: transparent;
    }

    .section-song::-webkit-scrollbar-thumb {
        background-color: transparent;
    }
}