p{
    margin: 0;
}

.songs-container {
    width: 100%;
    height: 100%;
    padding: 50px;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
    overflow-x: hidden;

}
.songs-container::-webkit-scrollbar {
    width: 0px;
}

.songs-container::-webkit-scrollbar-track {
    width: 0px;
}

.songs-container::-webkit-scrollbar-thumb {
    background-color: transparent;
    /* Ajusta el color del thumb si lo deseas */
    border-radius: 3px;
}

.song-box{
    margin-bottom: 40px;
    
}

.genre-name{
    color: #00C2FF;
}
.genre-box{
    width: 100%;

}

.img-song{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    cursor: pointer;
}
.img-box{
    position: relative;

    .icon-play{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(50%, 50%);
    }
}
.description-song{
    display: flex;
    justify-content: space-between;
    align-items: center;

    .song-info{
        padding: 5px 0px;
        .song-name{
            font-size: 16px;
            font-weight: 700;
        }
        .artist-name{
            font-size: 13px;
            font-weight: 400;
            color: #8A8A8A;
        }
    
    }
}



.section-song{
    width: 100%;
    display: flex;
    gap: 37px;
    overflow-x: hidden;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
    
}
.section-song::-webkit-scrollbar {
    width: 0px;
}

.section-song::-webkit-scrollbar-track {
    width: 0px;
}

.section-song::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 3px;
}

.card-song{
    .img-song-box{
        position: relative;
        width: 200px;
        height: 200px;
    }
    .play-song-icon{
        display: none;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 90px;
    }

    .img-song-box:hover{

        .img-song{
            filter: blur(2px) brightness(40%);
            
        }
        .play-song-icon{
            display: block;
            cursor: pointer;
        }
        .play-song-icon:hover{
            color: #00C2FF;
        }
    }
}

@media (max-width: 1400px){
 
    
}