/* Large desktop mode*/

.main-container {
  display: flex;
  width: 100vw;
  height: 100vh;
  background: #222222;

  .navigation-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px 20px;
    width: 15%;
    height: 100vh;
    background: #1b1b1b;
    align-items: center;


    .logo-box {
      width: 100%;
      display: flex;
      justify-content: center;
      gap: 5px;
      align-items: center;

      .logo-app {
        width: 3.2rem;
      }

      .name-app {
        font-weight: 700;
        font-size: 2.3rem;
      }

    }

    .line-split {
      width: 95%;
      margin-top: 15px;
      color: #00C2FF;
      border: 0.1px solid #00C2FF;

    }

    .b-close-session {
      width: 95%;
      height: 40px;
      border-radius: 5px;
      border: none;
      cursor: pointer;
      background: #00C2FF;
      color: #101010;
      font-weight: 700;
      font-size: 1.3rem;
    }

  }

  .section-section-artist {
    width: 85%;
    height: 100vh;

    .navigation-box-mobile {
      display: none;
    }

    .container-song-artist {
      display: flex;
      width: 100%;
      height: calc(100% - 70px);

      .songs-box {
        flex: 1;
        width: 75%;
        height: 100%;
        background: #222222;
      }


      .rigth-panel-box {
        width: 25%;
        min-width: 250px;
        max-width: 300px;
        background: #1b1b1b;

        .user-info-box {
          width: 100%;
          height: 76px;
          background: #101010;
          display: flex;
          align-items: center;
          justify-content: center;
          font-weight: 700;
          font-size: 22px;
          gap: 22px;

          .avatar-user {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            cursor: pointer;
          }

          .user-menu {
            z-index: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: absolute;
            background: #222222;
            width: 220px;
            height: 80px;
            border-radius: 10px;
            right: 30px;
            gap: 20px;
            top: 65px;
            padding: 50px 0px;

            .logout-button {
              background: #00C2FF;
              border-radius: 5px;
              color: #101010;
              font-weight: 700;
              display: none;
            }

            .edit-profile-button {
              background: transparent;
              display: flex;
            }

            .edit-profile-button,
            .logout-button {
              width: 150px;
              padding: 5px;
              border: none;
              cursor: pointer;

              justify-content: center;
              gap: 5px;
              align-items: center;
            }

            .edit-profile-button:hover {
              color: #00C2FF;
            }
          }
        }

        .artist-box {
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 100%;
          height: calc(100vh - 76px - 70px);

          .title-artist {
            font-weight: 700;
            font-size: 22px;
            color: #00C2FF;
          }
        }
      }

    }

    .song-control {
      width: 100%;
      height: 70px;
      background: #101010;
    }
    .navigation-mobile-controls{
      display: none;
    }

  }
}

@media (max-width: 1600px) {
  .main-container {
    .navigation-box {
      width: 20%;
    }

    .section-section-artist {
      width: 80%;
    }
  }
}

/* Medium desktop mode*/
@media (max-width: 1400px) {
  .main-container {
    .navigation-box {
      width: 20%;

      .name-app {
        font-size: 30px;
      }

      .line-split {
        width: 95%;
      }

      .b-close-session {
        width: 95%;
        height: 40px;
        font-size: 1.2rem;
      }
    }

    .section-section-artist {
      width: 80%;

      .container-song-artist {
        width: 100%;

        align-items: center;
        justify-content: space-between;

        .songs-box {
          width: 75%;
          height: 100%;
          background: #222222;
        }

        .rigth-panel-box {
          width: 25%;

          .user-info-box {
            font-size: 18px;
          }

          .avatar-user {
            width: 35px;
            height: 35px;
          }

          .title-artist {
            font-size: 18px;
          }
        }
      }

      .song-control {
        width: 100%;
      }
    }
  }
}


/* Mobile mode*/
@media (max-width: 769px) {

  .main-container {
    .navigation-box {
      display: none;
    }

    .section-section-artist {

      width: 100vw;

      .navigation-box-mobile {
        width: 100%;
        height: 45px;
        display: flex;
        position: fixed;
        z-index: 1;
        justify-content: space-between;
        align-items: center;
        background: #1b1b1b;
        padding: 0px 10px;
        box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 2px 0px, rgba(0, 0, 0, 0.15) 0px 2px 6px 2px;
        .container-logo-app {
          display: flex;
          align-items: center;
          
          gap: 5px;
          padding: 5px 0px;

          .logo-app {
            width: 35px;
          }

          .name-app {

            font-size: 27px;
          }
        }


        .avatar-user{
          border-radius: 50%;
          width: 2.2rem;
          cursor: pointer;
        }
        .user-menu {
          z-index: 1;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          position: absolute;
          background: #222222;
          width: 180px;
          height: 80px;
          border-radius: 10px;
          right: 5px;
          gap: 10px;
          top: 50px;
          padding: 50px 0px;
          box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);

          .logout-button {
            background: #00C2FF;
            border-radius: 5px;
            color: #101010;
            font-weight: 700;
           
          }

          .edit-profile-button {
            background: transparent;
            display: flex;
          }

          .edit-profile-button,
          .logout-button {
            width: 150px;
            padding: 5px;
            border: none;
            cursor: pointer;
            justify-content: center;
            gap: 5px;
            align-items: center;
          }

          .edit-profile-button:hover {
            color: #00C2FF;
          }
        }
      }

      .container-song-artist {
        height: 100vh;
        display: flex;
        .rigth-panel-box {
          display: none;
        }
        .panel-artist-mobile{
          width: 100vw;
          height: calc(100vh - 45px - 102px);
          .artist-box-mobile{
            width: 100vw;
            height: calc(100vh - 45px - 102px);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
          }
        }
      }

      .song-control {
        z-index: 2;
        background: none;
        width: 98%;
        height: 52px;
        position: absolute;
        bottom: 50px;
        left: 50%;
        transform: translateX(-50%);
        
      }
      .navigation-mobile-controls {
        display: flex;
        width: 100%;
        height: 50px;
        position: absolute;
        bottom: 0;
        left: 50%;
        padding: 20px 0px;
        background: linear-gradient(to top, rgba(0, 0, 0, 1) 20%,rgba(0, 0, 0, 0.8) 40%,rgba(0, 0, 0, 0.6) 60% ,rgba(0, 0, 0, 0.4) 80% ,rgba(0, 0, 0, 0.2) 90%,rgba(0, 0, 0, 0) 100%);
      
        transform: translateX(-50%);
        .navigation-mobile-controls-box {
          width: 100%;
          display: flex;
          justify-content: space-evenly;
          align-items: center;
          .b-option {
            font-size: 30px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: #dedede;
            cursor: pointer;
            .text-option{
              color: #fff;
              font-size: xx-small;
              font-weight: 300;
            }
          }
          .b-option:hover{
            color: #ffffff;
          }
        }
      }

    }

  }

}